* {
    font-family: Arial, sans-serif;
    text-align: center;
}
html{
    padding: 50px 0px;
}
body {
    margin: 0;
    background-color: #f0f0f0;
}
#yearSelect, #stateSelect {
    margin: 10px 0px;
}
#holidayList {
    list-style-type: none;
    padding: 0;
    text-align: right;
    font-size: 9px;
    max-height:150px;
    overflow: scroll;
    margin: 20px;
}
button{
    margin: 10px 0px;
    padding: 10px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 10px;
}
.card{
    background-color: lightgrey;
    position:absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    max-height: 740px;
    margin: 20px 20px 50px 20px;
    padding: 30px 10px;
    border-radius: 30px;
    max-width: 450px;
    border: solid 1px grey;
}

@media only screen and (min-width: 740px){
    .card{
        margin: 20px auto;
    }
}